* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 48px;
  padding: 10px;
  text-transform: uppercase;
  color:white;
  background: black;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-bottom-style: double;
  border-bottom-width: 20px;
}

h2 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
  padding: 10px;
  text-transform: uppercase;
  color:white;
  left: 0;
  bottom: 0;
  width: 100%;
}

p {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.info {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding = 0px;
}

.status {
  display: block;
  font-size: 20px;
  color:white;
}

/* Util CSS */
.left-border {
  border-left: 3px solid black;
}

.top-border {
  border-top: 3px solid black;
}

.right-border {
  border-right: 3px solid black;
}

.bottom-border {
  border-bottom: 3px solid black;
}

.left-border.top-border {
  border-radius: 10px 0 0 0;
}

.right-border.top-border {
  border-radius: 0 10px 0 0;
}

.right-border.bottom-border {
  border-radius: 0 0 10px 0;
}

.left-border.bottom-border {
  border-radius: 0 0 0 10px;
}

.square {
  font-size: 20px;
  border-width: 3px;
  border-color: black;
  color:black;
  padding:20px;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.footer {
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.text-center {
  text-align: center !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.py-5 {
  padding-top: 3rem !important;
}

.box-body > body {
  display: block;
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.8;
  max-width: 80ch;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 1.25rem;
  counter-reset: theorem definition sidenote-counter;
  color: var(--body-color);
  background-color: var(--body-bg-color);
  text-rendering: optimizeLegibility
}


.box-body > h1 {
    all:revert;
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 1.625rem
}

.box-body > h2 {
    all:revert;
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 3rem
}

.box-body > h3 {
    all:revert;
    font-size: 1.4rem;
    margin-top: 2.5rem
}

.box-body > p {
    all:revert;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 1rem
}

.box-body > li {
    all:revert;
}

.box-body > ul {
    all:revert;
}